.logo {
	display: block;
	text-align: center;
}
.nav{
	padding: 10px 0;
	line-height: 40px;
}
.nav li,
.contact li{
	float: left
}
.nav li a{
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	padding: 0 24px;
}
.nav li a:hover{
	color: #6CBEFF;
}
.nav li.active a{
	color: #6CBEFF;
}
a.login-btn{
	font-size: 16px;
	color: #6CBEFF;
	border-radius: 5px;
	border: 1px solid #6CBEFF;
	padding:6px 22px;
}
a.register-btn{
	font-size: 16px;
	color: #fff;
	padding:6px 22px;
	border-radius: 5px;
	background-color: #6CBEFF;
	border: 1px solid #6CBEFF;
}

.footer{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	background-color: #C1DBF3;
	padding:24px 0 48px 0;
}

.contact{
	display: inline-block;
	border-bottom: 1px solid #ffffff;
}

.contact li a{
	display: block;
	color: #ffffff;
	font-size: 16px;
	padding: 24px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}